body {
    margin: 0;
    font-family: "inter", sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6943FF;
    padding: 80px;
}

#hero h1 {
    text-wrap: nowrap;
    color: white;
    font-size: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-field-el {
    width: 80px;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
    color: white;
    background: transparent;
    border: 1px solid #B295FF;
    border-radius: 10px;
}

#input-field-el::placeholder {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    color: #B295FF;
    text-align: center;
}

#convert-btn {
    font-family: "inter", sans-serif;
    padding: 10px 20px;
    color: black;
    font-weight: light;
    background: white;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: transform 0.3 ease-in-out;
}

#convert-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#values-sec {
    text-align: center;
    background: #1F2937;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card {
    background: #273549;
    padding: 15px ;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px black;
    border-radius: 2px;
    width: 500px;
}

.card h3 {
    color: #CCC1FF;
    font-weight: 650;
}

.card p {
    color: white;
    text-wrap: nowrap;
}